.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
  width: 100%;
  background-image: url("/images/FondoJuego.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} 